{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "react/jsx-props-no-spreading": 0,
        "import/prefer-default-export": 0,
        "react/jsx-filename-extension": 0
    },
    "env": {
        "browser": true,
        "jest": true
    }
}
